.Select * {
    background-color: #141414 !important;
    color: white !important;
}

.Select *:hover {
    background-color: #1890ff!important;
}

.Select {
    margin-bottom: 12px;
}

.Button {
    margin-bottom: 24px;
}